@import '../abstract/variaveis';


.cabecalho {
    background-image: url('/assets/images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    .cabecalho__container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        position: relative;
        .cabecalho__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2em;
            .logo {
                @include logo();
                z-index: 9999;
            }
            .cabecalho__botao {
                background-image: url('/assets/images/icon-hamburger.svg');
                background-repeat: repeat;
                background-position: center;
                display: inline-block;
                height: 16px;
                width: 26px;
                z-index: 9999;
            }
            
            .cabecalho__botao.active {
                background-image: url('/assets/images/icon-close.svg');
                width: 22px;
            }
        }
        .cabecalho__info {
            padding: 2em;
            margin: 25% 0;
            .cabecalho__titulo {
                color: $cor-principal;
                text-transform: uppercase;
                font-size: $tamanho-texto * 2.5;
                padding: 0.5em;
                border: 2px solid;
            }
        }
    }
    .nav {
        .nav__lista { 
            display: none;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $cor-secundaria;
            min-height: 100vh;
            .nav__item:first-child {
                margin-top: 10em;
            }
            .nav__item {
                padding: 1em 2em;
                .nav__link {
                    color: $cor-principal;
                    font-family: $fonte-principal;
                    text-decoration: none;
                    font-weight: 300;
                    font-size: $tamanho-texto * 1.5;
                    text-transform: uppercase;
                }
            }
        }
    }
    
}
