@import '../abstract/variaveis';
@import '../abstract/mixins';


.cabecalho {
    background-image: url('/assets/images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;

    @media screen and (min-width: 768px) {
        background-image: url('/assets/images/desktop/image-hero.jpg');
        background-size: 100% 100%, 100%, 100%;
    }
    .cabecalho__container {
        display: flex;
        flex-direction: column;
        justify-items: center;
    

        @media screen and (min-width: 768px) {
            width: 60%;
            margin: 0 auto;
        }
        .cabecalho__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2em;
            
            @media screen and (min-width: 768px) {
                padding: 4em 0;
            }

            .logo {
                z-index: 9999;
            }
            .cabecalho__botao {
                display: none;
            }
            .cabecalho__menu-hamburguer {
                background-image: url('/assets/images/icon-hamburger.svg');
                background-repeat: repeat;
                background-position: center;
                display: inline-block;
                height: 16px;
                width: 26px;
                z-index: 9999;

                @media screen and (min-width: 768px) {
                    display: none;
                }
            }
            
            .cabecalho__botao:checked ~ .cabecalho__rotulo > .cabecalho__menu-hamburguer {
                background-image: url('/assets/images/icon-close.svg');
                width: 22px;
                z-index: 9999;      
                position: relative;             
            }
            .cabecalho__botao:checked ~ .nav__lista {
                display: flex;
            }
        }
        .cabecalho__info {
            max-width: 30rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 2em;

            @media screen and (min-width: 768px) {
                padding: 0;
                left: 20%;
                transform: translate(0%, -50%);
            }
            .cabecalho__titulo {
                color: $cor-principal;
                text-transform: uppercase;
                font-size: $tamanho-texto * 2.5;
                font-weight: 300;
                padding: 0.5em;
                border: 2px solid;

                @media screen and (min-width: 768px) {
                    font-weight: 300;
                    font-size: $tamanho-texto * 3.5;
                    max-width: 30rem;
                }
            }
        }
    }
        .nav__lista { 
            display: none;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $cor-secundaria;
            min-height: 100vh;
            z-index: 999;

            @media screen and (min-width: 768px) {
                display: flex;
                position: static;
                flex-direction: row;
                background-color: transparent;
                min-height: 0;
            }

            .nav__item:first-child {
                margin-top: 10em;

                @media screen and (min-width: 768px) {
                    margin-top: 0;
                }
            }
            .nav__item {
                padding: 1em 2em;

                @media screen and (min-width: 768px) {
                    padding: 0;
                }

                .nav__link {
                    color: $cor-principal;
                    font-family: $fonte-principal;
                    text-decoration: none;
                    font-weight: 300;
                    font-size: $tamanho-texto * 1.5;
                    text-transform: uppercase;
                    position: relative;

                    @media screen and (min-width: 768px) {
                        font-size: $tamanho-texto * 1.1;
                        text-transform: none;
                        padding-left: 1em;
                        font-weight: 400;
                    }
                }
                .nav__link:hover::before {
                    @include flutuacao(40%, 45%)
                }
            }
        }
}
