@import '../abstract/variaveis';

.rodape {
    background-color: $cor-secundaria;
    text-align: center;
    .rodape__container {
        padding: 3em;
        .logo {
            @include logo();
        }
        .rodape__lista {
            padding: 2em 0;
            .rodape__item {
                padding: 0.7em 0;
                .rodape__link {
                    text-decoration: none;
                    color: $cor-principal;
                }
            }
        }
        .rodape__redes {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .facebook {
                background-image: url("/assets/images/icon-facebook.svg");
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                height: 24px;
                width: 24px;
            }
            .twitter {
                background-image: url("/assets/images/icon-twitter.svg");
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                height: 24px;
                width: 24px;
            }
            .pinterest {
                background-image: url("/assets/images/icon-pinterest.svg");
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                height: 24px;
                width: 24px;
            }
            .instagram {
                background-image: url("/assets/images/icon-instagram.svg");
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                height: 24px;
                width: 24px;
            }
        }
        .rodape__texto {
            color: $cor-terciaria;
            padding-top: 2em;
        }
    }
}