@import '../abstract/variaveis';

.sobre {
    text-align: center;
    padding: 6em 0;
    background-color: $cor-principal;
    .sobre__container {
        .sobre__imagem {
            width: 80%;
        }
        .sobre__titulo {
            text-transform: uppercase;
            padding: 1em 0;
            font-family: $fonte-principal;
            font-size: $tamanho-texto * 2;
            font-weight: 300;
        }
        .sobre__texto {
            font-family: $fonte-secundaria;
            color: $cor-terciaria;
            padding: 0 3em;
            line-height: 25px;
        }
    }
}