$fonte-principal: 'Josefin Sans';
$fonte-secundaria: 'Alata';
$cor-principal:  hsl(0, 0%, 100%);
$cor-secundaria: hsl(0, 0%, 0%);
$cor-terciaria: hsl(0, 0%, 55%);
$cor-quatenaria: hsl(0, 0%, 41%);
$tamanho-texto: 15px;
